@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}

<h3>Mode Développement</h3>
<p>
    Passer à l’environnement <strong>Développement</strong> permet d’afficher des informations détaillées sur les erreurs survenues.
</p>
<p>
    <strong>L’environnement Développement ne doit pas être activé en production.</strong>
    Il peut exposer des informations sensibles aux utilisateurs finaux.
    Pour le débogage local, définissez la variable d’environnement <strong>ASPNETCORE_ENVIRONMENT</strong> sur <strong>Development</strong>, puis redémarrez l’application.
</p>

